block variables

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, height=device-height, initial-scale=1, user-scalable=0" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0')
        script(src='assets/js/config.js')
        script(src='assets/js/app.js')
        script(src='assets/js/foundation.js')
        link(rel='stylesheet', href='assets/css/foundation.css')
        link(rel='stylesheet', href='assets/css/app.css')
        script(type='text/javascript', language='javascript')
    body(onload=`${script}`)
        #wrapper
            block content