@import 'fontawesome/fontawesome';
@import 'common/fonts';
@import 'common/variables';
@import 'common/mixins';

html {
    overflow-x: hidden;
    body {
        background-color: $dark_gray;
        color: #fff;
        @include Roboto;
    }
}

* {
    box-sizing: border-box;
}

p,span,h1 {
    padding: 0;
    margin: 0;
}

ul,li {
    padding: 0;
    margin: 0;
    list-style: none;
}

textarea {
    resize: none;
}

textarea, input, button {
    border: none;
    outline: none;
    background: transparent;
}

#wrapper {
    position: relative;
    width: 100%;
}

@import 'common/media';      // Медиа-запросы
@import 'common/auth_chat';  // Авторизация
@import 'common/chat';       // Чат
@import 'common/moderator';  // Страница модератора