#auth_wrap {
    display: flex;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 1.65rem 1rem 0;
    box-sizing: content-box;
    .auth_chat {
        position: relative;
        width: 100%;
        padding: 1rem 1rem 1.5rem 1rem;
        border-radius: 10px;
        background-color: $light_gray;
        box-shadow: 0 0 5px 3px rgba(#000, .3);
        .form_auth {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            .err_entry {
                display: none;
                margin-bottom: 1.1rem;
                padding: 1rem 0.5rem;
                font-size: 0.83rem;
                text-align: center;
                border-radius: 4px;
                line-height: 20px;
                background-color: $orange;
                user-select: none;
            }
            .form-group {
                position: relative;
                width: 100%;

                input.login_name {
                    border-radius: 4px;
                    width: 100%;
                    margin-bottom: 1.5rem;
                    font-size: 0.9rem;
                    color: #fff;
                    padding: 0.8rem 0.27rem;
                    background-color: $medium_gray;

                    @include ph;
                    &:focus {
                        transition: all .2s ease;
                        border-bottom: 3px solid $green;
                        box-shadow: inset 0 0 5px 2px rgba(#000, .2);
                    }
                }
                .entry {
                    border-radius: 4px;
                    width: 100%;
                    padding: 0.7rem;
                    color: #fff;
                    font-size: 0.833rem;
                    font-weight: bold;
                    letter-spacing: 0.5px;
                    background-color: $orange;
                    box-shadow: 0 0 2px 2px rgba(#000, .2);
                    cursor: pointer;
                    &:hover {
                        transition: all .2s ease;
                        background-color: $red;
                        box-shadow: 2px 2px 4px 1px rgba(#000, .3);
                    }
                }
            }
        }
    }
}