.panel_wrap {
    @include wrap_questions;
    .panel {
        position: relative;
        width: 100%;
        margin-bottom: 2.222rem;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 2px 2px 3px 0 rgba(#000000, 0.3);
        &:last-child {
            margin-bottom: 0;
        }
        .empty_block {
            position: relative;
            width: 100%;
            height: 2rem;
            margin: auto 0;
            background-color: $almost_white;
        }
        .member {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            width: 100%;
            padding: 0.555rem 0.555rem;
            background-color: $orange;
            overflow: hidden;
            .querist {
                position: relative;
                margin: auto 0;
                padding-right: 1rem;
                font-size: 1rem;
            }
            .question_time {
                position: relative;
                margin: auto 0;
                font-size: 1rem;
            }
        }
        .question {
            display: block;
            float: left;
            position: relative;
            width: 100%;
            height: auto;
            padding: 0.888rem 0.555rem;
            background-color: $medium_gray;
            .main_text {
                font-size: 1.35rem;
            }
            .question_text {
                font-size: 1rem;
            }
            &:before {
                display: table;
                content: '';
                clear: both;
            }
        }
    }
}

.add_question {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 3rem;
    z-index: 998;
    .icon_add {
        position: absolute;
        top: -3.5rem;
        right: 1rem;
        border-radius: 50% 50%;
        background-color: $orange;
        box-shadow: 0 0 8px 2px rgba(#000, .4);
        cursor: pointer;
        z-index: 999;
        i {
            padding: 1rem;
            font-size: 1.2rem;
            color: #fff;
        }
    }

    .message_form {
        display: none;
        position: relative;
        bottom: -0.35rem;
        width: 100%;
        background-color: $dark_gray_95;
        box-shadow: 0 0 8px 2px rgba(#000, .4);
        z-index: 1;
        .remainder_block {
            position: relative;
            width: 100%;
            padding: 0.555rem;
            span {
                font-size: 0.8rem;
            }
            .remainder {
                padding-left: 0.5rem;
            }
        }
        .form_group {
            display: flex;
            flex-direction: row;
            position: relative;
            width: 100%;
            padding: 0 1.3rem 0.5rem;
            textarea.area_question {
                overflow-y: hidden;
                position: relative;
                width: 100%;
                height: auto;
                border-radius: 4px 0 0 4px;
                padding: 0.5rem;
                font-size: 0.83rem;
                color: $light_gray2;
                background-color: $almost_white;
                @include ph;
                &:focus {
                    @include ph_focus;
                }
            }
            .send {
                position: relative;
                padding: 0 0.5rem;
                border-radius: 0 4px 4px 0;
                cursor: pointer;
                color: #fff;
                font-size: 1rem;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                background-color: $orange;
                &:hover {
                    background-color: $red;
                    transition: all .2s ease;
                }
            }
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    // display: flex;
    flex: 0 0 auto;
    // flex-direction: row;
    // justify-content: space-between;
    background-color: $dark_gray_95;
    width: 100%;
    padding: 0.555rem 1rem;
    box-shadow: 0 -3px 3px 0 rgba(#000, .5);
    z-index: 1000;
    .buttons_panel {
        position: relative;
        float: left;
        margin: auto 0;
        i {
            color: #fff;
            font-size: 1.5rem;
            cursor: pointer;
            margin-right: 1.5rem;
        }
    }
    .company {
        position: relative;
        float: right;
        margin: 2px auto 0;
        font-size: 0.9rem;
    }
}