// CHAT
/*MAX WIDTH*/
@media (max-width: 1200px) {
    html {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 18px;
        #wrapper {
            .panel_wrap {
                padding: 1.3rem 1.3rem 5.5rem;
                .panel {
                    margin-bottom: 1.8rem;
                    .member {
                        padding: 0.5rem 0.5rem;
                    }
                    .comment {
                        padding: 0.7rem 0.5rem;
                    }
                }
            }

            // MODERATOR
            .wrap_page {
                padding-top: 2rem;
                .header {
                    padding: 0 6rem;
                    margin-bottom: 6rem;
                    h1.header_title {
                        font-size: 2rem;
                    }
                    .cnt_date {
                        right: 1rem;
                        .date {
                            font-size: 1.3rem;
                        }
                        .timer {
                            padding: 0.4rem;
                            font-size: 1.5rem;
                        }
                    }
                }
                .panel_moderator {
                    padding: 0 6rem 2rem;

                }
            }
        }
    }
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 14px;
    }
}

/*MIN-WIDTH*/
@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
}