@mixin centered() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin centeredX() {
  left: 50%;
  transform: translateX(-50%);
}
@mixin centeredY() {
  top: 50%;
  transform: translateY(-50%);
}

@mixin Roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin ph_focus {
  &::-webkit-input-placeholder { color: transparent; }
  &:-moz-placeholder           { color: transparent; }
  &::-moz-placeholder          { color: transparent; }
  &:-ms-input-placeholder      { color: transparent; }
}

@mixin ph {
  &::-webkit-input-placeholder { color: #afaeae; }
  &:-moz-placeholder           { color: #afaeae; }
  &::-moz-placeholder          { color: #afaeae; }
  &:-ms-input-placeholder      { color: #afaeae; }
}

@mixin wrap_questions {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 2rem 2rem 0;
  margin-bottom: 8rem;
}