.wrap_page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 99.8%;
    width: 100%;
    padding-top: 2rem;
    .menu {
        position: fixed;
        top: 2.5rem;
        left: 1.5rem;
        z-index: 999;
        .burger_btn {
            position: relative;
            margin-bottom: 1rem;
            i {
                font-size: 2rem;
                color: $orange;
                &:hover {
                    color: $red;
                    transition: all .2s ease;
                    cursor: pointer;
                }
            }
        }
        ul.buttons_panel {
            display: none;
            position: absolute;
            padding: 10px;
            margin-top: 1rem;
            background-color: $light_gray2;
            border: 1px solid $orange;
            border-radius: 4px;
            box-shadow: 2px 2px 5px 1px rgba(#000, .4);
            li.btn_panel {
                position: relative;
                margin: 10px 0;
                input[type=button] {
                    text-align: left;
                    position: relative;
                    width: 100%;
                    text-transform: uppercase;
                    color: $almost_white;
                    font-weight: bold;
                    font-size: 0.7rem;
                    &:hover {
                        color: $orange;
                        transition: all .2s ease;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .header {
        position: relative;
        width: 100%;
        padding: 0 10rem;
        margin-bottom: 6rem;
        .header_title {
            position: relative;
            font-size: 2.5rem;
        }
        .cnt_date {
            position: absolute;
            top: -1rem;
            right: 1rem;
            z-index: 999;
            .date {
                display: block;
                font-size: 1.7rem;
            }
            .timer {
                display: block;
                position: fixed;
                padding: 0.5rem;
                margin-top: 0.5rem;
                font-size: 2rem;
                border: 1px solid $orange;
                border-radius: 4px;
                background-color: #000;
                box-shadow: 0 0 4px 2px rgba(#000, .5);
            }
        }
    }
    .panel_moderator {
        position: relative;
        min-width: 1000px;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        padding: 0 10rem 2rem;
        .comment_block {
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 2rem;
            border-radius: 4px;
            border: 1px solid $orange;
            .header_comment {
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
                background-color: $orange;
                padding: 0.5rem 0.8rem;
                &.main_message {
                    color: $orange;
                    background-color: $almost_white;
                }
                .user_name {
                    flex: 1 1 auto;
                    margin-right: 1rem;
                    &.moderator_name {
                        text-transform: uppercase;
                    }
                }
                .info_panel {
                    display: flex;
                    flex-direction: row;
                    .time {
                        margin-right: 1rem;
                    }
                    .number {
                        margin-right: 1.3rem;
                    }
                }
                .icons_block {
                    display: flex;
                    flex-direction: row;
                    i {
                        margin-right: 1.5rem;
                        cursor: pointer;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            .message {
                position: relative;
                width: 100%;
                padding: 0.5rem 0.8rem;
                line-height: 30px;
                background-color: $medium_gray;
            }
        }
    }
}