$dark_gray: rgba(#222222, 1);
$dark_gray_95: rgba(#222222, .95);
$medium_gray: rgba(#303030, 1);
$light_gray2: rgba(#464545, 1);
$light_gray: rgba(#4a4a4a, 1);
$almost_white: rgba(#F5F5F5, 1);
$orange: rgba(#E74C3C, 1);
$red: rgba(#d62c1a, 1);
$green: rgba(#00BC8C, 1);