extends ../_template
block variables
    - var title = 'Чат'
    - var script = 'chat = new Chat()';
    - var currentPage = "chat";
block content
    .panel_wrap
    .add_question
        .icon_add
            i.fas.fa-pen
        .message_form
            .remainder_block
                span.counter Символов осталось:
                span.remainder
            .form_group
                textarea.area_question(name='text' rows='1' maxlength='300' placeholder='Написать комментарий')
                button.send
                    i.fas.fa-share
    .footer
        .buttons_panel
            i.home_btn.fas.fa-home(id='home')
            i.relog_btn.far.fa-sign-out(id='logout')
        .company
            .company &#169; ООО"Софтинг" 2018

