extends ../_template
block variables
    - var title = 'Авторизация'
    - var script = 'index = new Index()';
block content
    #auth_wrap
        .auth_chat
            .form_auth
                .err_entry(role='alert') Требуется ввести ФИО пользователя
                .form-group
                    input.login_name(type="text" placeholder="ФИО" required)
                    button.entry(type="submit" value="ent") Войти