extends ../_template
block variables
    - var title = 'Модератор';
block content
    .wrap_page
        .menu
            .burger_btn
                i.fas.fa-bars
            ul.buttons_panel
                li.btn_panel
                    input(type = 'button' value = 'скрыть все сообщения')
                li.btn_panel
                    input(type = 'button' value = 'опубликовать все скрытые сообщения')
                li.btn_panel
                    input(type = 'button' value = 'удалить все сообщения с панели')
                li.btn_panel
                    input(type = 'button' value = 'удалить все сообщения')
                li.btn_panel
                    input(type = 'button' value = 'восстановить все сообщения')
                li.btn_panel
                    input(type = 'button' value = 'открыть страницу с выступающими')
        .header
            .header_title Модератор
            .cnt_date
                .date 14.05.2018
                .timer 00:00:00
        .panel_moderator
            .comment_block
                .header_comment.main_message
                    .user_name.moderator_name модератор
                    .info_panel
                        .time 13:56:01
                        .number № 245
                    .icons_block
                        i.fas.fa-arrow-alt-up
                        i.fas.fa-check
                        i.far.fa-clipboard
                .message
                    span Приветствую всех участников!
            .comment_block
                .header_comment
                    .user_name Первый Участник ООО тестировщик
                    .info_panel
                        .time 14:00:05
                        .number № 246
                    .icons_block
                        i.fas.fa-arrow-alt-up
                        i.fas.fa-check
                        i.far.fa-clipboard
                .message
                    span Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий Комментарий
            .comment_block
                .header_comment.main_message
                    .user_name Выступает: Первый выступающий
                    .info_panel
                        .time 10:30:00 - 11:00:00
                    .icons_block
                        i.fas.fa-check
                        i.far.fa-clipboard
                .message
                    span Обсуждение Block Chain
        .footer
            .company
                .company &#169; ООО"Софтинг" 2018